In [1]:
import pandas as pd
import numpy as np

In [7]:
row_df = pd.read_csv("0913dataFile.csv", encoding = 'utf-8', header = 0)

In [8]:
row_df

      age_log   lwt_log  smoke  ht  ptl  ui  race  bwt
0    2.944439  5.204007     -1  -1   -1   1     2    1
1    3.496508  5.043425     -1  -1   -1  -1     3    1
2    3.044522  4.682131      1  -1   -1   1     1    1
3    3.091042  4.770685     -1  -1   -1  -1     1    1
4    3.367296  4.812184      1  -1   -1  -1     1    1
..        ...       ...    ...  ..  ...  ..   ...  ...
176  3.178054  4.653960      1  -1   -1  -1     2    0
177  2.833213  4.787492      1  -1   -1  -1     1    0
178  2.833213  4.787492     -1  -1   -1  -1     2    0
179  2.639057  4.605170     -1  -1   -1  -1     3    0
180  3.135494  4.543295      1  -1   -1  -1     3    0

[181 rows x 8 columns]

In [9]:
row_df.loc[row_df['bwt'] == 1, 'bwt'] = 5
row_df.loc[row_df['bwt'] == 0, 'bwt'] = 1
row_df.loc[row_df['bwt'] == 5, 'bwt'] = 0

In [10]:
row_df

      age_log   lwt_log  smoke  ht  ptl  ui  race  bwt
0    2.944439  5.204007     -1  -1   -1   1     2    0
1    3.496508  5.043425     -1  -1   -1  -1     3    0
2    3.044522  4.682131      1  -1   -1   1     1    0
3    3.091042  4.770685     -1  -1   -1  -1     1    0
4    3.367296  4.812184      1  -1   -1  -1     1    0
..        ...       ...    ...  ..  ...  ..   ...  ...
176  3.178054  4.653960      1  -1   -1  -1     2    1
177  2.833213  4.787492      1  -1   -1  -1     1    1
178  2.833213  4.787492     -1  -1   -1  -1     2    1
179  2.639057  4.605170     -1  -1   -1  -1     3    1
180  3.135494  4.543295      1  -1   -1  -1     3    1

[181 rows x 8 columns]

In [11]:
row_df.to_csv("1002dataFile.csv", index = False)